.container {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  z-index: 2;
  background: rgba(25, 25, 25, 0);
  border: 0;
}

.container:hover {
  cursor: pointer;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}

/* phone landscape */
@media (max-height: 420px) and (max-width: 1000px) and (orientation: landscape) {
  .container {
    top: 0.2rem;
    right: 0.3rem;
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
