@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Rajdhani:wght@700&display=swap");

.table {
  position: fixed;
  top: 3rem;
  background: rgba(25, 25, 25, 0.15);
  z-index: 1;
  border: 2px solid rgba(45, 45, 45, 0.85);
  list-style-type: none;
  width: 15rem;
  left: -15rem;
  transition: 1s;
}

.opened-table {
  transition: 1s;
  left: 0.8rem;
}

ul li {
  border-bottom: 1px solid rgba(45, 45, 45, 0.8);
  padding: 0.5rem 1rem;
}

ul li:first-child {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 1.35rem;
  line-height: 1.6;
}

ul li:not(:first-child) {
  line-height: 1;
  color: #cccccc;
  cursor: pointer;
  position: relative;
}

ul li:hover:not(:first-child) {
  color: #ffbd00;
  background-color: rgba(30, 30, 30, 0.75);
}

.plus-icon {
  position: absolute;
  right: 1rem;
}

.minus-icon {
  position: absolute;
  right: 1.1rem;
}

.selected {
  background-color: rgba(30, 30, 30, 0.75);
  color: #800080 !important;
}

.table-data {
  color: white;
  font-size: 0.8rem;
}

.details {
  padding: 1rem;
  background-color: rgba(25, 25, 25, 0.5);
  border-bottom: 1px solid rgba(45, 45, 45, 0.8);
}

table {
  width: 100%;
}

@media (min-width: 640px) {
  .table {
    left: 0;
    top: 0;
    display: block;
  }
}
