@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Rajdhani:wght@700&display=swap");

.table {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(25, 25, 25, 0.15);
  z-index: 1;
  border: 2px solid rgba(45, 45, 45, 0.85);
  list-style-type: none;
  width: 15.5rem;
}

ul li {
  border-bottom: 1px solid rgba(45, 45, 45, 0.8);
  padding: 0.5rem 1rem;
}

ul li:first-child {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 1.35rem;
  line-height: 1.6;
}

ul li:not(:first-child) {
  line-height: 1;
  color: #cccccc;
  cursor: pointer;
  position: relative;
}

ul li:hover:not(:first-child) {
  color: #ffbd00;
}

ul li:not(:first-child)::after {
  content: "+";
  position: absolute;
  right: 1rem;
}
