.container {
  position: fixed;
  top: 8%;
  left: 10%;
  right: 10%;
  background-color: rgba(50, 50, 50, 0.9);
  z-index: 4;
  padding: 1rem;
  border: 1px solid rgba(80, 80, 80, 0.9);
}

.close-button {
  position: relative;
}

.section-head {
  padding: 0;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.info-table-data,
.info-data {
  font-size: 1rem;
  color: #e0e0e0;
}

.info-data {
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  .container {
    top: 25%;
    left: 25%;
    right: 25%;
  }
}

/* phone landscape */
@media (max-height: 420px) and (max-width: 1000px) and (orientation: landscape) {
  .container {
    top: 2%;
    left: 1%;
    width: 98%;
    padding: 0.3rem;
  }

  .info-data {
    margin-bottom: 0.1rem;
  }

  .section-head {
    font-size: 0.7rem;
    margin-bottom: 0.05rem;
  }
}
