.container {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  background-color: rgba(50, 50, 50, 0.9);
  z-index: 4;
  padding: 1rem;
  border: 1px solid rgba(80, 80, 80, 0.9);
}

.close-button {
  position: relative;
}

.section-head {
  padding: 0;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.data {
  font-size: 1rem;
  color: #f9f6ee;
  margin-bottom: 1rem;
}

.tabel-data {
  padding: 0;
}

@media (min-width: 640px) {
  .container {
    top: 25%;
    left: 25%;
    right: 25%;
  }
}

/* phone landscape */
@media (max-height: 420px) and (max-width: 1000px) and (orientation: landscape) {
  .container {
    top: 5%;
    left: 5%;
    width: 90%;
  }

  .data {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .tabel-data {
    font-size: 0.8rem;
  }

  .section-head {
    font-size: 1.2rem;
  }
}
