.container {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  background-color: rgba(50, 50, 50, 0.9);
  z-index: 4;
  padding: 1rem;
  border: 1px solid rgba(80, 80, 80, 0.9);
}

.close-button {
  position: relative;
}

.section-head {
  padding: 0;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.data {
  font-size: 1rem;
  color: #f9f6ee;
  margin-bottom: 1rem;
}

td {
  padding: 0;
}

@media (min-width: 640px) {
  .container {
    top: 25%;
    left: 25%;
    right: 25%;
  }
}
