.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0);
  animation: fade 5s forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  13% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  63% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  88% {
    opacity: 0.5;
  }

  93% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
