.title {
  position: fixed;
  top: 1rem;
  font-size: 2rem;
  background: transparent;
  width: 100vw;
  text-align: center;
  z-index: 1;
}

@media (min-width: 640px) {
  .title {
    font-size: 2.6rem;
  }
}

@media (max-height: 420px) and (max-width: 1000px) and (orientation: landscape) {
  .title {
    font-size: 2rem;
  }
}
