.connect-button {
  height: 1.25rem;
  width: 8rem;
  padding: 1px 12px 1px 12px;
  background-color: #00a0dc;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.1rem;
}

.message {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.8rem;
}
