@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Rajdhani:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

*:not(h1) {
  font-size: 1.02rem;
}

html {
  width: 100%;
  height: 100%;
}

body {
  letter-spacing: 0.02rem;
}

.scene-card {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
