@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Rajdhani:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.06rem;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html {
  width: 100%;
  height: 100%;
}

body {
  letter-spacing: 0.02rem;
}
